<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                {%if app.user.image.fileName is defined and  app.user.image.fileName %}
                    <img src="{{ asset('uploads/files/' ~ app.user.image.fileName)  }}" class="img-circle" alt="User Image">
                {% else %}
                    <img src="{{ asset('assets/admin/image/user-bleu.png')  }}" class="img-circle" alt="User Image">
                {% endif %}
            </div>
            <div class="pull-left info">
                <p>{{ app.user.fullName }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                 <a  target="_blank" href="{{ path('homepage') }}"><i class="fa fa-home"></i> Accueil</a>     
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            {% if app.user.role == 'ROLE_ADMIN' %}
              <li><a href="{{ path('admin_user_index') }}"><i class="fa fa-user"></i> <span>Uilisateurs</span></a></li>
              <li><a href="{{ path('admin_module_index') }}"><i class="fa fa-archive"></i> <span>Modules</span></a></li>
              <li><a href="{{ path('admin_document_logs') }}"><i class="fa fa-archive"></i> <span>Journal</span></a></li>
            {% endif %}
            <li><a href="{{ path('admin_document_index') }}"><i class="fa fa-book"></i> <span>Documents</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
